.App {
  max-width: 900px;
  margin: 0 auto;
}

.Board {
  max-width: 900px;
  margin-top: 25px;
  background: lightblue;
  border-radius: 9px;
  padding: 30px;
}

.picture {
  padding: 20px;
  background: white;
  border-radius: 9px;
  text-align: center;
}

.red {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: red;
  z-index: 1;
  background: white;
}

.red-active {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: red;
  z-index: 1;
  background: red;
}

.orange {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: orange;
  z-index: 2;
  background: white;
}

.orange-active {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: orange;
  z-index: 2;
  background: orange;
}

.yellow {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: yellow;
  z-index: 3;
  background: white;
}

.green {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: green;
  z-index: 4;
  background: white;
}

.blue {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: #0000ff;
  z-index: 5;
  background: white;
}

.violet {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: 1.5px solid black;
  border-radius: 50%;
  color: purple;
  z-index: 6;
  background: white;
}

.palette {
  padding: 20px 40px;
  background: white;
  border-radius: 9px;
}

.palette-color {
  border: 4px solid white;
  padding: 35px;
  border-radius: 50%;
}

.palette-red {
  background: red;
}

.palette-orange {
  background: orange;
}

.palette-yellow {
  background: yellow;
}

.palette-green {
  background: green;
}

.palette-blue {
  background: blue;
}

.palette-violet {
  background: purple;
}

footer {
  text-align: center;
}
